// Variable overrides come first (without !default). Bootstrap default variables
// come second because they use !default (they won't get set if set already) and
// some of them depend on our overrides.

/* ====================================
   = BOOTSTARP 4.X + REPLACE VARIABLE =
   ==================================== */

@import "base/custom-variables";
@import "!framework/bootstrap-4.3.1/bootstrap";

/* utilities */
@import "mixin/mixins";

/* base file */
@import "base/custom-reboot";
@import "base/fonts";

/* layout */
@import "layout/layout";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";

/* component */
@import "component/region";
@import "component/story";
@import "component/buttons";
@import "component/icons";
@import "component/back2top";

/* pages */
@import "page/index";
@import "page/category";
@import "page/details";

/* font */
@import "!framework/fontawesome.min.css";