/* ====================================
   = BOOTSTARP 4.X + REPLACE VARIABLE =
   ==================================== */

@import "base/custom-variables";
@import "!framework/bootstrap-4.1.3";

/* utilities */
// @import "mixin/mixins";

/* base file */
@import "base/custom-reboot";
@import "base/fonts";

/* layout */
@import "layout/layout";
@import "layout/header";
// @import "layout/footer";

/* component */
@import "component/region";
@import "component/story";
@import "component/icons";
@import "component/buttons";

/* pages */
// @import "page/details";

/* plugins */
@import "plugins/slick.css";
@import "plugins/slick-theme.css";

/* font */
@import "!framework/FontAwesome.Pro.5.15.2/fontawesome.min.css";