/* ====================================
 * Mixins
 * ==================================== */

/* Media queries
 * ==================================== */

@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type==string {
        @if $min==xs {
            @media (max-width: $grid-float-breakpoint-max) {
                @content;
            } // Mobile Devices
        }
        @else if $min==sm {
            @media (min-width: $grid-float-breakpoint) {
                @content;
            } // Tablet Devices
        }
        @else if $min==md {
            @media (min-width: $screen-md) {
                @content;
            } // Desktops
        }
        @else if $min==lg {
            @media (min-width: $screen-lg) {
                @content;
            } // Widescreen Desktops
        }
        // Otherwise pass a warning to the compiler as to the appropriate options
        @else {
            @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg";
        }
    }
    @else if $type==number {
        // Allow for custom parameters for min and max size
        $query: "all" !default;
        @if $min !=0 and $max !=0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        } // set both min and max
        @else if $min !=0 and $max==0 {
            $query: "(min-width: #{$min})";
        } // set just min
        @else if $min==0 and $max !=0 {
            $query: "(max-width: #{$max})";
        } // set just max
        @media #{$query} {
            @content;
        }
    }
}


/* Layout mixin
 * ==================================== */

@mixin transition() {
    /*!*/
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@mixin thumb() {
    /*!*/
    display: block;
    overflow: hidden;
    position: relative;
    &:hover {
        opacity: 0.85;
    }
    img {
        width: 100%;
    }
}