/* ====================================
 * Mixins
 * ==================================== */


/* Media queries
 * ==================================== */
@mixin breakpoint($min: 0, $max: 0) {
    $type: type-of($min);
    @if $type==string {
        @if $min==xs {
            @media (max-width: $grid-float-breakpoint-max) {
                @content;
            } // Mobile Devices
        }
        @else if $min==sm {
            @media (min-width: $grid-float-breakpoint) {
                @content;
            } // Tablet Devices
        }
        @else if $min==md {
            @media (min-width: $screen-md) {
                @content;
            } // Desktops
        }
        @else if $min==lg {
            @media (min-width: $screen-lg) {
                @content;
            } // Widescreen Desktops
        }
        // Otherwise pass a warning to the compiler as to the appropriate options
        @else {
            @warn "The breakpoint mixin supports the following attributes: xs, sm, md, lg";
        }
    }
    @else if $type==number {
        // Allow for custom parameters for min and max size
        $query: "all" !default;
        @if $min !=0 and $max !=0 {
            $query: "(min-width: #{$min}) and (max-width: #{$max})";
        } // set both min and max
        @else if $min !=0 and $max==0 {
            $query: "(min-width: #{$min})";
        } // set just min
        @else if $min==0 and $max !=0 {
            $query: "(max-width: #{$max})";
        } // set just max
        @media #{$query} {
            @content;
        }
    }
}


/* Media screen mixin  */

@mixin respond-to-xs() {
    @media (max-width: $screen-xs-max) {
        @content;
    }
}

@mixin respond-to-sm() {
    @media (min-width: $screen-sm-min) {
        @content;
    }
}

@mixin respond-to-sm-only() {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        @content;
    }
}

@mixin respond-to-md() {
    @media (min-width: $screen-md-min) {
        @content;
    }
}

@mixin respond-to-md-only() {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        @content;
    }
}

@mixin respond-to-lg() {
    @media (min-width: $screen-lg-min) {
        @content;
    }
}


/* Font mixin
 * ==================================== */

// variables-font-legacy
// The exist to provide backwards compatibility for 
// current things that use font variables. You should 
// NOT be using these for new SCSS code.
// legacy font weight vars
// mixins-typography
@mixin font-size ($font-size, $line-height) {
    $new-size: ($font-size / 10);
    $new-line-height: ($line-height / 10);
    font-size: ($font-size + px);
    font-size: ($new-size + rem);
    line-height: ($line-height + px);
    line-height: ($new-line-height + rem);
}

@mixin font-family ($font-name, $font-weight: $normal, $font-style: normal) {
    font-weight: $font-weight;
    font-style: $font-style;
    font-family: $font-name;
}

// shorthand for font-size / line-height / font-family / font-weight
@mixin font ($font-family, $font-size, $line-height, $font-weight: $normal, $font-style: normal) {
    @include font-size($font-size, $line-height);
    @include font-family($font-family, $font-weight, $font-style);
}


/* Layout mixin
 * ==================================== */

@mixin thumb() {
    /*!*/
    display: block;
    overflow: hidden;
    position: relative;
    background: #ddd;
    &:hover {
        opacity: .85;
    }
    img {
        width: 100%;
    }
}