/* ====================================
   FOOTER
   ==================================== */

.site-footer {
    @include clearfix();
    background: $secondary;
    &__menu {
        height: 42px;
        background: #830223;
        padding: 12px 0;
        * {
            font-size: 13px;
            font-size: 1.3rem;
            color: #fff;
        }
        a:hover {
            color: #fff;
            text-decoration: underline;
        }
        .menu {
            float: left;
            a {
                float: left;
                margin-right: 30px;
            }
        }
        .link {
            float: right;
            a {
                float: left;
                margin-left: 20px;
            }
        }
    }
    &__info {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 22px;
        line-height: 2.2rem;
        padding: 12px 0;
        * {
            color: #d9b8bd;
        }
        .info {
            width: 55%;
            float: left;
            strong {
                font-weight: 500;
            } 
        }
        .contact {
            width: 41%;
            float: right;
            margin-top: 22px;
            a {
                display: inline;
                &:hover {
                    color: #fff;
                }
            }
            i {
                vertical-align: text-bottom;
                margin-right: 5px;
            }
        }
    }
}