/* ====================================
   FOOTER
   ==================================== */

.site-footer {
    @include clearfix();
    background: $secondary;
    padding-bottom: 15px;
    overflow: hidden;
    * {
        line-height: 22px;
        line-height: 2.2rem;
        color: #555;
    }
    i {
        font-size: 16px;
        color: #888;
        margin-right: 10px;
    }
    &__network {
        @include clearfix();
        height: 60px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        a {
            margin: 0 30px 0 0;
            img {
                max-height: 22px;
            }
        }
    }
    .float-right a {
        display: inline;
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
}