/* ====================================
   FOOTER
   ==================================== */

.site-footer {
    @include clearfix();
    background: $secondary;
    &__menu {
        height: 40px;
        background: $primary;
        padding: 10px 0;
        * {
            font-size: 13px;
            font-size: 1.3rem;
            color: #fff;
        }
        a:hover {
            color: #fff;
            text-decoration: underline;
        }
        .menu {
            float: left;
            a {
                float: left;
                margin-right: 20px;
            }
        }
        .social {
            float: right;
            li {
                display: inline-block;
            }
            a {
                line-height: 24px;
                padding: 0 8px;
                opacity: .6;
                &:hover {
                    opacity: 1;
                }
            }
            i {
                font-size: 16px;
            }
        }
    }
    &__info {
        font-size: 13px;
        font-size: 1.3rem;
        line-height: 22px;
        line-height: 2.2rem;
        padding: 12px 0;
        * {
            color: #555;
        }
        .info {
            width: 60%;
            float: left;
            .logo {
                margin-bottom: 10px;
                img {
                    width: 200px;
                }
            }
            strong {
                font-weight: 500;
            } 
        }
        .link {
            width: 40%;
            float: right;
            margin-top: 20px;
            text-align: right;
            li {
                display: inline-block;
                margin: 0 2px 5px 0;
            }
            a {
                font-size: 11px;
                background: #fff;
                border: 1px solid #e9e9e9;
                padding: 0 10px;
                &:hover {
                    color: #fff;
                    background: #888;
                    border-color: #888;
                }
            }
        }
    }
}