/* ====================================
   GRID
   ==================================== */

.l-grid {
	@include clearfix();
	padding: 0 15px;
	margin: auto;
	@include breakpoint(1280px) {
        width: 1120px;
        padding: 0;
    }
}
.l-content {
	width: 66%;
	float: left;
	@include breakpoint(0,980px) {
        width: 64%;
    }
    @include breakpoint(1280px) {
        width: 770px;
    }
}
.cols-2 {
	font-size: 0;
	margin-left: -10px;
    margin-right: -10px;
    >* {
    	width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 10px;
    }
}
.cols-3 {
	font-size: 0;
	margin-left: -10px;
    margin-right: -10px;
    >* {
    	width: 33.33%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 10px;
    }
}
.cols-4 {
	font-size: 0;
	margin-left: -10px;
    margin-right: -10px;
    >* {
    	width: 25%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 10px;
    }
}
.sidebar {
	width: 320px;
	float: right;
}
.card {
	width: 48%;
	float: left;
	@include breakpoint(1280px) {
        width: 375px;
    }
}