/* ====================================
   HEADER
   ==================================== */

.site-header {
    margin-bottom: 15px;
    &__content {
        height: 75px;
        position: relative;
        padding: 0 20px;
    }
    .logo {
        width: 250px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        img {
            max-width: 100%;
        }
    }
    .social {
        text-align: center;
        margin: 17px 0;
        float: right;
        li {
            display: inline-block;
            margin-left: 4px;
            a {
                width: 40px;
                height: 40px;
                background: #ddd;
                border-radius: 50%;
                &:hover {
                    opacity: .85;
                }
            }
        }
        i {
            font-size: 18px;
            line-height: 38px;
            color: #fff;
        }
        .fb {
            background: #3B5998;
        }
        .tt {
            background: #55ACEE;
        }
        .yt {
            background: #FF0000;
        }
    }
    &__nav {
        background: $primary;
        z-index: 2;
        .menu {
            @include clearfix();
            height: 45px;
            position: relative;
        }
        .menu-item {
            color: #fff;
            display: inline-block;
            &:hover {
                background: $success;
                .mega-menu {
                    display: block;
                }
                .menu-heading {
                    background: $success;
                }
            }
            &.selected {
                background: $success;
                border-left: 1px solid rgba(255,255,255,.2);
                border-right: 1px solid rgba(255,255,255,.2);
            }
            &.float-right .mega-menu {
                right: 0;
            }
        }
        .menu-heading {
            font-size: 12px;
            font-size: 1.2rem;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            padding: 14px 6px 12px;
            @include breakpoint(1025px,1279px) {
                padding: 14px 8px 12px;
            }
            @include breakpoint(1280px) {
                font-size: 13px;
                padding: 13px 11px 12px;
            }
        }
        .mega-menu {
            display: none;
            width: 220px;
            position: absolute;
            background: $success;
            z-index: 2;
            li {
                border-bottom: 1px solid rgba(255,255,255,.2);
            }
            a {
                font-size: 13px;
                font-size: 1.3rem;
                color: #fff;
                padding: 10px 18px;
                @include breakpoint(1440px) {
                    text-align: left;
                }
                &:hover {
                    padding-left: 20px;
                    background: $primary;
                }
            }
        }
        .ellipsis {
            padding: 10px 15px 9px;
            @include breakpoint(0,980px) {
                padding: 10px 10px 9px;
            }
            .fa-ellipsis-h {
                font-size: 24px;
            }
        }
    }
}
.search-form {
    width: 21.5%;
    position: relative;
    float: left;
    margin: 17px 0;
    .form-control {
        font-size: 14px;
        color: #555;
        height: 40px;
        background: $secondary;
        border: 1px solid #e9e9e9;
        border-radius: 20px;
        box-shadow: none;
        padding: 0 15px;
    }
    .btn {
        position: absolute;
        top: 4px;
        right: 15px;
        box-shadow: none;
        i {
            font-size: 18px;
            color: #555;
        }
    }
}