/* ====================================
   HEADER
   ==================================== */

.site-header {
    background: url('../img/qhxv_bg.png') no-repeat;
    background-size: cover;
    &__topbar {
        @include clearfix();
        padding: 10px 30px;
        border-bottom: 1px dotted rgba(255,255,255,.3);
        * {
            font-size: 12px;
            font-size: 1.2rem;
            color: rgba(255,255,255,.6);
        }
        .datetime {
            float: left;
        }
        .language {
            float: right;
            li {
                display: inline-block;
                a:after {
                    content: "/";
                    display: inline-block;
                    padding: 0 8px 0 10px;
                }
                &:last-child a:after {
                    content: none;
                }
                &.active a {
                    text-decoration: underline;
                }
            }
        }
    }
    &__logo {
        float: left;
        margin: 5px 0 0 30px;
    }
    &__nav {
        float: right;
        margin: 20px 30px 0 0;
        li {
            display: inline-block;
            a {
                color: #fff;
            }
        }
        .nav-heading {
            font-weight: 500;
            text-transform: uppercase;
            &:after {
                content: "/";
                display: inline-block;
                color: #888;
                padding: 0 15px 0 17px;
            }
        }
        .search-form {
            position: relative;
            margin-right: 22px;
            .form-control {
                font-size: 14px;
                color: #fff;
                width: 100px;
                height: 15px;
                background: none;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,.3);
                box-shadow: none;
            }
            .btn-search {
                font-size: 16px;
                font-size: 1.6rem;
                position: absolute;
                right: -22px;
                bottom: -3px;
            }
        }
    }
}