/* ====================================
   LAYOUT
   ==================================== */

.l-grid {
	@include clearfix();
	width: 1170px;
	margin: auto;
}
.cols-2 {
	font-size: 0;
	margin-left: -10px;
    margin-right: -10px;
    >* {
    	width: 50%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 10px;
    }
}
.cols-3 {
	font-size: 0;
	margin-left: -11px;
    margin-right: -11px;
    >* {
    	width: 33.33%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 11px;
    }
}
.cols-4 {
	font-size: 0;
	margin-left: -10px;
    margin-right: -10px;
    >* {
    	width: 25%;
	    display: inline-block;
	    vertical-align: top;
	    padding: 0 10px;
    }
}
.site-content {
	padding: 30px 0;
}