/* ====================================
   CATEGORY
   ==================================== */

.timeline {
	margin: 20px 0 50px;
}
.masonry {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	&-col {
		padding-right: 20px;
	}
	.story {
		background: $secondary;
		padding: 0 20px 20px;
		margin-bottom: 20px;
	}
	.story__thumb {
		margin: 0 -20px 15px;
	}
	time {
		margin-bottom: 10px;
	}
}