/* ====================================
   DETAILS
   ==================================== */

.details {
    @include clearfix();
    width: 700px;
    margin: 20px auto 30px;
    &__headline {
        font-size: 40px;
        font-size: 4rem;
        line-height: 48px;
        line-height: 4.8rem;
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__meta {
        padding-bottom: 20px;
        span {
            margin-right: 35px;
        }
        * {
            font-size: 16px;
            font-size: 1.6rem;
            color: #555;
            font-weight: 300;
            display: inline;
        }
    }
    &__social {
        padding: 10px 0;
        margin-bottom: 20px;
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
    }
    &__sapo {
        font-size: 20px;
        font-size: 2rem;
        line-height: 32px;
        line-height: 3.2rem;
        color: #222;
        font-weight: 500;
        margin-bottom: 35px;
        * {
            display: inline;
        }
        a {
            color: $primary;
            &:hover {
                text-decoration: underline;
            }
        }
        b, strong {
            font-weight: 600;
        }
    }
    &__content {
        @include clearfix();
        * {
            font-size: 20px !important;
            font-size: 2rem !important;
            line-height: 32px !important;
            line-height: 3.2rem !important;
            color: #222;
        }
        div, p {
            margin-bottom: 25px;
        }
        b, strong {
            font-weight: 600;
        }
        .details__img * {
            margin: 0;
        }
    }
    &__img {
        .image {
            width: 980px;
            margin: 0 -140px;
            img {
                max-width: 100%;
            }
        }
        .caption {
            font-size: 18px !important;
            line-height: 28px !important;
            color: #555;
            font-weight: 300;
            text-align: center;
            margin-top: 15px;
            &:after {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                border-top: 1px dotted #ccc;
                margin: 23px auto 0;
            }
        }
    }
    &__tags {
        margin-bottom: 20px;
        li {
            display: inline-block;
            i {
                font-size: 18px;
                color: $primary;
                vertical-align: middle;
            }
            a {
                font-size: 14px;
                color: #555;
                font-weight: 500;
                text-transform: uppercase;
                text-decoration: underline;
                margin: 0 10px;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}