/* ====================================
   HISTORY
   ==================================== */

.site-label {
	@include clearfix();
    margin: -120px auto 50px;
    ul {
    	display: flex;
    	align-items: center;
    	li {
    		width: 33.33%;
    		&:last-child .outline {
    			float: right;
    		}
    	}
    }
    .outline {
    	width: 158px;
    	height: 158px;
        border-radius: 50%;
        padding: 8px;
        border: 1px dashed #ddd;
        position: relative;
        &-center {
        	width: 238px;
        	height: 238px;
        	margin: auto;
        	.congress-label {
	            color: #fff;
	            text-align: center;
	            text-decoration: none;
	            width: 220px;
	            height: 220px;
	            display: block;
	            padding: 50px 0;
	            background: $primary;
	            box-shadow: 0 0 0 8px inset rgba(0,0,0,.15);
	            &:before, &:after {
	                content: "";
	                display: block;
	                width: 100px;
	                height: 1px;
	                background: rgba(255,255,255,.3);
	                margin: auto;
	            }
	            &:before {
	                margin-bottom: 16px;
	            }
	            &:after {
	                margin-top: 16px;
	            }
	            span {
	                display: block;
	            }
	            .regular-text {
	                font-size: 16px;
	                line-height: 22px;
	                font-weight: 400;
	            }
	            .medium-text {
	                font-size: 26px;
	                line-height: 32px;
	            }
	            .exbold-text {
	                font-size: 28px;
	                line-height: 34px;
	                font-weight: 800;
	            }
	        }
        }
    }
    .congress-label {
        color: $primary;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: underline;
        width: 140px;
        height: 140px;
        background: #eee;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 8px inset rgba(0,0,0,.03);
        z-index: 1;
        * {
            font-size: 20px;
            font-size: 2rem;
            line-height: 24px;
            line-height: 2.4rem;
        }
    }
}
.col-left {
	width: 50%;
	float: left;
	position: relative;
	padding: 0 50px 85px 0;
	&:after {
		content: "";
		display: block;
	    width: 20px;
	    height: 100%;
	    background: $secondary;
	    position: absolute;
	    right: -8px;
	    top: 0;
	}
}
.img-deco {
	text-align: center;
	margin-bottom: 20px;
}
.col-right {
	width: 50%;
	float: right;
	.zone--info {
		padding-left: 57px;
		&:last-child {
			padding-top: 50px;
			margin-top: 50px;
			border-top: 20px solid $secondary;
		}
		.slimScrollDiv {
			padding-right: 30px;
		}
	}
	.zone--source {
		padding-left: 57px;
	}
}
.timeline-key {
	margin-left: 10px;
	li {
		margin: 0 !important;
	}
	.key {
		padding: 0 0 16px 20px;
		position: relative;
		border-left: 1px dotted #ccc;
		&:before {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			background: $primary;
			border-radius: 50%;
			position: absolute;
		    top: 8px;
		    left: -5px;
		    box-shadow: 0px 0px 0px 8px #fff;
		}
	}
	.date {
		color: $primary;
		display: inline-block;
	}
	ul {
		display: inline-block;
		vertical-align: top;
		width: 81%;
	}
}