/* ====================================
   INDEX
   ==================================== */

.highlight {
	.focus {
		margin-bottom: 20px;
		.story {
			background: $secondary;
			border-radius: 5px;
		}
		.story__thumb {
			width: 550px;
			height: 365px;
			float: left;
			margin-right: 20px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		.story__title {
			font-size: 30px;
			line-height: 41px;
			padding: 15px 20px 8px 0;
			i {
				font-size: inherit;
			}
		}
		.summary {
			font-size: 16px;
			line-height: 24px;
			padding-right: 20px;
			margin-bottom: 15px;
		}
		.btn-viewmore {
			color: #fff;
			background: #bbb;
			&:hover {
				color: #fff;
				background: $primary;
			}
		}
	}
	.feature .story__thumb {
		height: 152px;
		@include breakpoint(1280px) {
            height: 175px;
        }
	}
}
.feature {
	.story__thumb {
		margin-bottom: 10px;
	}
}
.divider {
	margin: 20px 0 30px;
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #e9e9e9;
		margin-top: -22px;
	}
}