/* ====================================
   PROFILE
   ==================================== */

.profile {
	width: 700px;
	margin: 20px auto 25px;
	* {
		font-size: 16px;
        font-size: 1.6rem;
        line-height: 26px;
        line-height: 2.6rem;
	}
	p {
		margin-bottom: 10px;
	}
    b, strong {
        font-weight: 600;
    }
	.article {
		&__header {
			font-size: 30px;
		    font-size: 3rem;
		    font-weight: 700;
		    text-align: center;
		    margin-bottom: 40px;
		    text-transform: uppercase;
		    &:after {
				content: "";
				display: block;
				width: 100px;
				height: 1px;
				border-bottom: 1px dotted #ccc;
				margin: 30px auto 0;
			}
		}
		&__avatar a {
			@extend .thumb;
			width: 150px;
			height: 150px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0 auto 20px;
		}
		&__body h3 {
			font-size: 26px;
			line-height: 32px;
			color: $primary;
			font-weight: 500;
			text-transform: uppercase;
			margin: 20px 0;
		}
	}
}