/* ====================================
   SEARCH / TAGS
   ==================================== */

.search-keyword {
	@include clearfix();
	padding-bottom: 10px;
	border-bottom: 1px dotted #ccc;
	.keyword {
		font-size: 26px;
    	font-size: 2.6rem;
		display: inline;
		span {
			color: $primary;
			text-transform: capitalize;
		}
	}
	.total {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 38px;
		line-height: 3.8rem;
		float: right;
		margin-right: 20px;
	}
}