/* ====================================
   BACK TO TOP
   ==================================== */

.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-top {
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 46px;
    line-height: 4.6rem;
    color: #fff !important;
    z-index: 99;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    white-space: nowrap;
    background: $primary;
    visibility: hidden;
    opacity: .8;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius: 3px;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    visibility: visible;
}

.no-touch .cd-top:hover {
    opacity: 1;
}