/* ====================================
   BUTTONS
   ==================================== */

.btn-viewmore {
	font-size: 13px;
	font-size: 1.3rem;
	color: $primary;
	text-transform: uppercase;
	padding: 10px 36px 9px;
	background: #f4f4f4;
	border-radius: 20px;
	&:hover {
		color: #fff;
		background: $primary;
	}
}
.btn-submit {
	font-size: 13px;
	font-size: 1.3rem;
	color: #fff !important;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 0px 10px;
	background: $primary;
	border-radius: 20px;
	display: inline-block;
	margin-left: 95px;
	width: 130px;
	&:hover {
		background: $success;
	}
}