/* ====================================
   BUTTONS
   ==================================== */

.btn-viewmore {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	background: $primary;
	width: 200px;
	border-radius: 0;
	padding: 12px 0;
	&:hover {
		color: #fff;
		background: $success;
	}
}