/* ====================================
   ICONS
   ==================================== */

.ic {
	background: url(../img/gno-sprites.svg?1.1) no-repeat;
    background-size: 500px 500px;
    display: block;
    &--lotus {
    	background: url(../img/gno-sprites.svg?1.1) 10px 0 no-repeat #fff;
    	width: 92px;
    	height: 40px;
    	padding: 0 20px;
    	position: relative;
    	margin: auto;
    }
    &--video {
        width: 40px;
        height: 40px;
        background-position: -100px 0;
        display: inline-block;
    }
    &--zalo {
        width: 16px;
        height: 20px;
        background-position: -200px 0;
        margin: auto;
    }
    &--zalo-wt {
        width: 12px;
        height: 20px;
        background-position: -200px -34px;
        margin: auto;
    }
}