/* ====================================
   REGION
   ==================================== */

.zone {
    margin-bottom: 50px;
    &__heading {
        margin-bottom: 43px;
        * {
            font-size: 30px;
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
        }
    }
    &--news {
        .slick-news .story__meta {
            margin-right: 20px;
        }
        .slick-location .story__meta {
            margin-left: 20px;
        }
    }
}