/* ====================================
   REGION
   ==================================== */

.highlight {
    @include clearfix();
    padding-bottom: 17px;
    margin-bottom: 20px;
    border-bottom: 7px solid #f7f7f7;
    .cols-4 {
        .story__thumb {
            height: 100px;
            margin-bottom: 10px;
        }
    }
}
.focus {
    margin-bottom: 20px;
    .story {
        position: relative;
    }
    .story__thumb {
        height: 370px;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(255,255,255,0) 50%);
        }
    }
    .meta {
        position: absolute;
        bottom: 0;
        padding: 0 20px 15px;
        time {
            color: #eee;
        }
    }
    .story__title {
        font-family: $font-family-special;
        font-size: 26px;
        font-size: 2.6rem;
        line-height: 34px;
        line-height: 3.4rem;
        color: #fff;
        font-weight: 700;
        margin-bottom: 2px;
    }
}
.timeline {
    .story {
        padding-bottom: 18px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        &:last-child {
            border: none;
        }
    }
    .story__title {
        font-family: $font-family-special;
        font-size: 18px;
        font-size: 1.8rem;
        line-height: 24px;
        line-height: 2.4rem;
        font-weight: 700;
        margin-bottom: 3px;
    }
    time {
        margin-bottom: 10px;
    }
    .story__thumb {
        width: 150px;
        height: 100px;
        float: left;
        margin: 3px 18px 0 0;
    }
}
.tabs {
    @include clearfix();
    .nav-tabs {
        border: none;
        margin-bottom: 2px;
    }
    .nav-item {
        width: 50%;
        margin: 0;
        &:first-child {
            border-right: 2px solid #fafafa;
        }
    }
    .nav-link {
        font-family: $font-family-special;
        line-height: 32px;
        line-height: 3.2rem;
        text-transform: uppercase;
        text-align: center;
        height: 38px;
        border: none;
        border-radius: 0;
        background: #eee;
        &.active {
            color: #fff;
            background: $primary;
        }
    }
}
.zone {
    @include clearfix();
    margin-bottom: 20px;
    &__heading {
        @include clearfix();
        border-bottom: 1px solid #eee;
        margin-bottom: 18px;
        * {
            display: inline-block;
        }
        .heading {
            font-family: $font-family-special;
            font-size: 20px;
            font-size: 2rem;
            font-weight: 600;
            color: #222;
            text-transform: uppercase;
            padding-bottom: 8px;
            margin-bottom: -1px;
            border-bottom: 1px solid $primary;
        }
    }
    &__body {
        @include clearfix();
    }
    &--popular {
        .story {
            padding-bottom: 15px;
            margin-bottom: 17px;
            border-bottom: 1px dotted #c2c2c2;
            &:last-child {
                padding: 0;
                margin: 0;
                border: none;
            }
        }
        .story__thumb {
            height: 168px;
            margin-bottom: 15px;
        }
        .number {
            float: left;
        }
        .story__title {
            width: 80%;
            float: left;
        }
    }
    &--opinion {
        margin-top: 15px;
        .ava {
            @include thumb();
            width: 24px;
            height: 24px;
            float: left;
            margin: 0 10px 0 0;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }
        .item {
            @include clearfix();
            padding: 0 12px 10px;
            margin-bottom: 12px;
            border-bottom: 1px dotted #c2c2c2;
            &:last-child {
                margin: 0;
                border: none;
            }
        }
        .meta {
            width: 87%;
            float: left;
            &:hover {
                .title {
                    color: $info;
                }
            }
            .title {
                line-height: 20px;
                font-weight: 500;
                display: block;
            }
            .desc {
                font-size: 13px;
                line-height: 18px;
                color: #888;
                display: block;
                max-height: 38px;
                overflow: hidden;
            }
            .name {
                font-size: 13px;
                line-height: 18px;
                color: #888;
                text-transform: capitalize;
                display: block;
                margin-top: 2px;
                i {
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }
        }
    }
    &--topic {
        background: $success;
        padding: 16px 20px;
        border-top: 2px solid #f6e797;
        border-bottom: 2px solid #f6e797;
        .hashtag {
            font-family: $font-family-special;
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 20px;
            line-height: 2rem;
            color: $primary;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .story--focus {
            position: relative;
            margin-bottom: 20px;
            .story__thumb {
                height: 168px;
                margin: 0;
                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(255,255,255,0) 50%);
                }
            }
            .story__title {
                color: #fff;
                position: absolute;
                bottom: 0;
                padding: 0 15px 10px;
            }
        }
        .story__thumb {
            height: 80px;
            margin-bottom: 8px;
        }
    }
    &--list {
        .label {
            font-family: $font-family-special;
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 42px;
            line-height: 4.2rem;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 15px;
            margin-bottom: 2px;
            height: 38px;
            background: url('../img/decor_heading.png') right 0 no-repeat $primary;
            span {
                font-weight: 400;
                margin-right: 8px;
            }
        }
        ul li {
            @include transition();
            position: relative;
            height: 62px;
            background: #eee;
            margin-bottom: 2px;
            display: flex;
            align-items: center;
            &:hover a {
                color: #fff;
            }
            &.yellow:hover {
                background: #f4d747;
            }
            &.orange:hover {
                background: #f26d35;
            }
            &.purple:hover {
                background: #9164a9;
            }
            &.turquoise:hover {
                background: #2cbaa0;
            }
            &.lime:hover {
                background: #ccdc3d;
            }
            a {
                padding: 0 15px;
            }
        }
        h3 {
            width: 100%;
        }
        .topic {
            font-family: $font-family-special;
            font-size: 14px;
            font-size: 1.4rem;
            text-transform: uppercase;
            width: 78%;
            max-height: 40px;
            overflow: hidden;
        }
        .number {
            position: absolute;
            right: 15px;
        }
    }
    &--suggest {
        .story {
            margin-bottom: 15px;
        }
        .story__thumb {
            height: 115px;
            margin-bottom: 8px;
        }
    }
}