/* ====================================
   STORY
   ==================================== */

time {
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
    display: block;
    i {
        vertical-align: text-top;
        margin-right: 5px;
    }
}
.summary {
    line-height: 22px;
    line-height: 2.2rem;
    color: #888;
    * {
        font-size: 14px;
        font-size: 1.4rem;
        display: inline;
    }
    a {
        color: $info;
        &:hover {
            text-decoration: underline;
        }
    }
}
.story {
    @include clearfix();
    &__thumb {
        @include thumb();
    }
    &__title {
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 20px;
        line-height: 2rem;
        i {
            color: $primary;
            margin-left: 3px;
        }
    }
}