/* ====================================
   STORY
   ==================================== */

.thumb {
    display: block;
    overflow: hidden;
    position: relative;
    background: #eee;
    &:hover {
        opacity: .85;
    }
    img {
        width: 100%;
    }
}

time {
    line-height: 24px;
    line-height: 2.4rem;
    color: #555;
    font-weight: 300;
    display: block;
}
.summary {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
    color: #555;
    font-weight: 300;
    * {
        font-size: 14px;
        font-size: 1.4rem;
        display: inline;
    }
    a {
        color: $info;
        &:hover {
            text-decoration: underline;
        }
    }
}
.story {
    @include clearfix();
    &__meta {
        width: 49%;
        height: 382px;
        background: $secondary;
        padding: 30px 42px;
        text-align: center;
    }
    &__title {
        font-size: 20px;
        font-size: 2rem;
        line-height: 26px;
        line-height: 2.6rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__thumb {
        @extend .thumb;
    }
    &--primary {
        .story__thumb {
            width: 49%;
            height: 382px;
            &:after {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, #000 -20%, rgba(255,255,255,0) 45%);
            }
        }
        .summary {
            max-height: 150px;
            overflow: hidden;
            margin-bottom: 25px;
            &:before {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                border-top: 1px dotted #ccc;
                margin: 23px auto 30px;
            }
        }
    }
}