/* ====================================
   STORY
   ==================================== */

.summary {
    line-height: 22px;
    line-height: 2.2rem;
    color: #888;
    * {
        font-size: 14px;
        font-size: 1.4rem;
        display: inline;
    }
    a {
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
}
.tag-label {
    font-family: $font-family-sans-serif;
    font-size: 11px;
    color: #fff;
    background: $primary;
    padding: 3px 8px;
    margin-right: 6px;
    vertical-align: text-bottom;
}
.story {
    @include clearfix();
    position: relative;
    &__thumb {
        @include thumb();
        background: #eee;
        border-radius: 5px;
    }
    &__title {
        font-family: $font-family-serif;
        font-size: 16px;
        font-size: 1.6rem;
        line-height: 22px;
        line-height: 2.2rem;
        i {
            font-size: 20px;
            color: $primary;
            margin-right: 6px;
        }
    }
    &--primary {
        margin-bottom: 20px;
        .story__thumb {
            width: 80px;
            height: 80px;
            float: left;
            margin-right: 18px;
        }
    }
    &--video {
        &:hover {
            .story__thumb {
                @include transition();
                opacity: .85;
            }
            @include breakpoint(0,1024px) {
                .video-meta .story__title {
                    width: 100% !important;
                    display: block;
                }
                .ic--video {
                    display: none;
                }
            }
        }
        .story__thumb {
            width: 100%;
            float: none;
            margin: 0;
            border-radius: 0;
            @include breakpoint(0,1440px) {
                display: flex;
                justify-content: center;
                img {
                    width: fit-content;
                }
            }
        }
        .video-meta {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 20px 15px;
            z-index: 1;
            .ic--video {
                @include breakpoint(0,1024px) {
                    display: none;
                }
            }
            .story__title {
                font-size: 20px;
                line-height: 27px;
                color: #fff;
                @include breakpoint(1280px) {
                    display: inline-block;
                    width: 80%;
                    margin: 0 0 0 10px;
                }
            }
        }
        &.large {
            width: 34%;
            height: 274px;
            overflow: hidden;
            @include breakpoint(1280px) {
                height: 344px;
            }
            @include breakpoint(1366px) {
                height: 354px;
            }
            &:first-child {
                margin-right: 4px;
            }
            .video-meta .story__title {
                width: 82%;
                @include breakpoint(1280px) {
                    width: 86%;
                }
            }
        }
        &.medium {
            width: 25%;
            height: 274px;
            overflow: hidden;
            margin-right: 4px;
            @include breakpoint(1280px) {
                height: 344px;
            }
            @include breakpoint(1366px) {
                height: 354px;
            }
        }
        &.small {
            width: 100%;
            height: 135px;
            overflow: hidden;
            @include breakpoint(1280px) {
                height: 170px;
            }
            @include breakpoint(1366px) {
                height: 175px;
            }
            &:first-child {
                margin-bottom: 4px;
            }
            .video-meta .story__title {
                font-size: 16px;
                line-height: 22px;
                width: 74.5%;
            }
        }
    }
    &--focus {
        width: 48%;
        float: left;
        margin-right: 20px;
        @include breakpoint(1280px) {
            width: 375px;
        }
        .story__thumb {
            margin-bottom: 10px;
        }
        .story__title {
            font-size: 20px;
            line-height: 27px;
        }
    }
    &--spotlight {
        padding-bottom: 13px;
        .story__thumb {
            margin-bottom: 7px;
        }
        .story__title {
            font-size: 20px;
            line-height: 27px;
        }
    }
    &--fullwidth {
        padding: 15px;
        border: none !important;
        background: $secondary;
        border-radius: 5px;
        @include breakpoint(1024px) {
            padding: 0 !important;
        }
        .story__thumb {
            width: 100%;
            height: auto;
            border-radius: 5px 5px 0 0;
            margin: 0 0 10px 0;
            @include breakpoint(1024px) {
                width: 50%;
                height: 218px;
                border-radius: 5px 0 0 5px;
                margin: 0 20px 0 0;
            }
            @include breakpoint(1280px) {
                width: 375px;
                height: 250px;
            }
        }
        .story__title {
            padding: 15px 20px 0 0;
        }
        .summary {
            padding-right: 20px;
        }
    }
}
.number {
    font-family: $font-family-serif;
    font-size: 72px;
    font-size: 7.2rem;
    line-height: 55px;
    line-height: 5.5rem;
    color: #000;
    font-weight: 700;
    opacity: 0.05;
    position: absolute;
    top: 0;
    right: 0;
}
.subcate {
    background: #fff;
    margin-left: -3px;
    vertical-align: top;
    a {
        font-size: 13px;
        line-height: 18px;
        color: #888;
        margin-right: 15px;
        &:hover {
            color: #888;
            text-decoration: underline;
        }
    }
}