/* ====================================
   STORY
   ==================================== */

.thumb {
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    position: relative;
    background: #eee;
    &:hover {
        opacity: .85;
    }
    img {
        width: 100%;
    }
}

time {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 24px;
    line-height: 2.4rem;
    color: #555;
    font-weight: 300;
    display: block;
}
.summary {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    line-height: 2.4rem;
    color: #555;
    font-weight: 300;
    * {
        font-size: 16px;
        display: inline;
    }
    a {
        color: $primary;
        &:hover {
            text-decoration: underline;
        }
    }
    b, strong {
        font-weight: 500;
    }
}
.story {
    @include clearfix();
    &__meta {
        width: 49%;
        height: 382px;
        background: $secondary;
        padding: 30px 42px;
        text-align: center;
    }
    &__title {
        font-size: 20px;
        font-size: 2rem;
        line-height: 26px;
        line-height: 2.6rem;
        font-weight: 500;
        margin-bottom: 5px;
        .fal {
            color: $primary;
            margin-right: 8px;
        }
    }
    &__thumb {
        @extend .thumb;
    }
    &--primary {
        .story__thumb {
            width: 49%;
            height: 382px;
            &:after {
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to top, #000 -20%, rgba(255,255,255,0) 45%);
            }
        }
        .summary {
            max-height: 150px;
            overflow: hidden;
            margin-bottom: 25px;
            &:before {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                border-top: 1px dotted #ccc;
                margin: 23px auto 30px;
            }
        }
    }
    &--congressman {
        padding-bottom: 20px;
        border-right: 1px dotted #ccc;
        &:last-child {
            border: none;
        }
        .thumb {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: 0 15px 12px 0;
        }
        .name {
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 20px;
            line-height: 2rem;
            font-weight: 500;
            text-transform: uppercase;
            width: 65%;
        }
        .intro {
            font-size: 16px;
            font-size: 1.6rem;
            line-height: 26px;
            line-height: 2.6rem;
            display: block;
            span {
                font-weight: 300;
            }
            strong {
                font-weight: 500;
            }
        }
    }
    &--interview {
        width: 600px;
        margin: auto;
        text-align: center;
        .position-relative {
            margin: 10px 0 20px;
        }
        .story__thumb {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin: auto;
        }
    }
}