/* ====================================
   Custom Bootstrap Reboot
   ==================================== */

html {
    font-size: 10px;
}

// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Set an explicit initial text-align value so that we can later use the
//    the `inherit` value on things like `<th>` elements.

body {
    font-family: $font-family-base;
    font-size: 14px;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: #333;
    max-width: 1920px;
    margin: 0 auto;
}

//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
// stylelint-disable selector-list-comma-newline-after
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-bottom: 0;
}

// stylelint-enable selector-list-comma-newline-after

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
    margin-bottom: 0;
}

// Abbreviations
//
// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Duplicate behavior to the data-* attribute for our tooltip plugin

ol,
ul,
dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

//
// Links
//
a {
    @include transition();
    color: #333;
    text-decoration: none;
    display: block;
    outline: none;
    &:hover {
        color: $primary;
        text-decoration: none;
    }
}

//
// Forms
//

label {
    margin-bottom: 0;
}